
<div class="container">
<h1>
  My Stores
  <%= link_to new_store_path, :class => 'btn btn-default' do %>
    <%= fa_icon 'plus'%> New Store
  <% end %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store %></td>
        <td><%= store.address %></td>
        <td>
          <%= link_to edit_store_path(store), :class => 'btn btn-primary btn-xs' do %>
            <%= fa_icon 'pencil' %> Edit
          <% end %>
          <%= link_to store, method: :delete, data: { confirm: 'Are you sure?' },
                            :class => 'btn btn-danger btn-xs' do %>
            <%= fa_icon 'trash' %> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>