<div class="container">
  <h1><%= @store.name %></h1>
  <p>
    <strong>Name:</strong>
    <%= @store.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @store.address %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @store.user.email %>
  </p>
  <hr>
  <%= render 'menus'%>

  <%= link_to 'Edit', edit_store_path(@store) %> |
  <%= link_to 'Back', stores_path %>

</div>
