<div class="container">
  <h1>
    <%= @store.name %>
    <%= link_to edit_store_path(@store), :class => 'btn btn-primary' do %>
      <%= fa_icon 'pencil' %> Edit Store Details
    <% end %>
  </h1>
  <p>
    <strong>Name:</strong>
    <%= @store.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @store.address %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @store.user.email %>
  </p>
  <p>
    <strong>Active Menu:</strong>
    <%= @store.menus.find(@store.active_menu_id).name %>
  </p>
  <hr>
  <%= render 'menus'%>
  <%= link_to stores_path, :class => 'btn btn-default' do %>
    Back
  <% end %>
</div>

